
/*                                 */
/*                                 */
/*                                 */
/* Part 1 of Refactoring (01 - 11) */
/*                                 */
/*                                 */
/*                                 */


/* 1: NOTHING */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 2: NOTHING */
body {
    background-color: #d9dcd6;
}


/* 3: properties of the marketing class */
.marketing {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* 4: heading 1 of marketing class*/
.marketing h1 {
    display: inline-block;
    font-size: 48px;
}



/* 5:  properties of the marketing class*/
.marketing h1 .seo {
    color: #d9dcd6;
}



/* 6: properties of the marketing class for div element */
.marketing div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/* 7: properties unordered list marketing class for div element */
.marketing div ul {
    list-style-type: none;
}



/* 8: properties of unorder list and items marketing class for div element */
.marketing div ul li {
    display: inline-block;
    margin-left: 25px;
}


/* 9: NOTHING  */
a {
    color: #ffffff;
    text-decoration: none;
}


/* 10: NOT USED, I want to delete this, let me know if I was supposed to  */
p {
    font-size: 16px;
}

/* 11: peciifcations for center photo */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*                                 */
/*                                 */
/*                                 */
/* Part 2 of Refactoring (12 - 14) */
/* Part 2 of Refactoring (25 - 33) */
/*                                 */
/*                                 */
/*                                 */

/* 12: */
.float-left {
    float: left;
    margin-right: 25px;
}

/* 13: */
.float-right {
    float: right;
    margin-left: 25px;
}


/* 14: */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/* 25: Consilidate selector into (26,27-deleted) 1*/
.online-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* 28: */
.search-engine-optimization img {
    max-height: 200px;
}
/* 29: */
.online-reputation-management img {
    max-height: 200px;
}
/* 30: */
.social-media-marketing img {
    max-height: 200px;
}
/* 31: */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* 32: */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* 33: */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}





/*                                 */
/*                                 */
/*                                 */
/* Part 3 of Refactoring (15 - 24) */
/*                                 */
/*                                 */
/*                                 */




/* 15: */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* 16: */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* 17: */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* 18: */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* 19: */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* 20: */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* 21: */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* 22: */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* 23: */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* 24: */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}





/*                                 */
/*                                 */
/*                                 */
/* Part 3 of Refactoring (34 - 35) */
/*                                 */
/*                                 */
/*                                 */


/* 34: */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* 35: */
.footer h2 {
    font-size: 20px;
}
